<a href="https://colab.research.google.com/github/Ujjawal360/contact_book_project/blob/main/Contact_Book.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Approach i went through: <br>

Contact book is something you would look into anytime even when the runtime has disconnected. So i decided to store my contacts in human unreadable form using pickle. Using the pickle method you can access the previous stored contacts  and make changes to it. <br>

First of all i created a empty dataframe on which i will append the contacts. For adding the contacts, i used Regex(Regular Expression) so that i get proper name , proper phone number(10 digit number) , and proper email.




---



After i got valid entity, i appended the contacts to the dataframe and if previous contacts are there i appended to that dataframe. Practically, in a proper contact book directory a person name can repeat but the phone number and the email has to belong to a particular person. **So i accepted duplicate names in my contact book but i rejected the same phone number or email being repeated twice.** On searching or updating or deleting the contacts you can search the identity by any of it's entity (i.e you can search a person details by either his/her name/phone number or email) .  **Basically, a name to a person cannot be it's unique identity. So for updating and deleting the contact, you should enter the row-id (which is the default indexing in the pandas dataframe in this case).** For updating the contact  , you can update only one entity at a time. Once you have chosen which details to update, you cannot enter the same details again because the contact already exists in the dataframe. So moving onto the code,  run all codes from the beginning, including installing the pickle5 module(pre installed pickle module gave me a bit of trouble) , and of-course mounting the google drive so that the pickle file is stored in your drive. <br>

---




I also want to clarify that , inside the functions i have globalized some variables because inside the functions i have created some variables and to access those variable which i need outside of functions has to be globalized.

In [ ]:
!pip install pickle5

Collecting pickle5
  Downloading https://files.pythonhosted.org/packages/f7/4c/5c4dd0462c8d3a6bc4af500a6af240763c2ebd1efdc736fc2c946d44b70a/pickle5-0.0.11.tar.gz (132kB)
     |████████████████████████████████| 133kB 4.1MB/s
Building wheels for collected packages: pickle5
  Building wheel for pickle5 (setup.py) ... done
  Created wheel for pickle5: filename=pickle5-0.0.11-cp37-cp37m-linux_x86_64.whl size=219259 sha256=c9454203ec7939040bd9351cb608e0a055e78186ba60bdf3f1fe12c14e64365c
  Stored in directory: /root/.cache/pip/wheels/a6/90/95/f889ca4aa8b0e0c7f21c8470b6f5d6032f0390a3a141a9a3bd
Successfully built pickle5
Installing collected packages: pickle5
Successfully installed pickle5-0.0.11

In [ ]:
import os
import pandas as pd
import regex as re                  # import the regex module to check valid details
import pickle5                      # import the pickle5 to store and read the contents
from IPython.display import display # import the IPython.display to display the pandas dataframe in a neat tabular form. P.S print(df) doesn't present the dataframe in a tabular form  
from termcolor import colored       # displays the output in a more colorful way

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
# contactfile.pkl is the file created where all the previous contacts are being stored
# during the first run the file hasn't been created and a empty dataframe is being created which gets stored in the pickle file as soon as first contact has been created   
 
if not os.path.exists('/content/gdrive/MyDrive/Colab Notebooks/contactfile.pkl'):
  file = pd.DataFrame()
  
else:
  with open('/content/gdrive/MyDrive/Colab Notebooks/contactfile.pkl' , 'rb') as f:
    file =  pickle5.load(f) 
      
name_reg_ex = '[a-zA-Z]+\s[a-zA-Z]+\s?[a-zA-Z]?'                                      # regex to validate the name
number_reg_ex = '^\d{10}$'                                                            # regex to validate the phone number 
email_reg_ex = '^[a-zA-Z0-9.!#$%&*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$'  # regex to validate the email address 
 
user_interface = '''
1. Display your existing contacts 
2. Create a new contact
3. View an entry 
4. Update an entry
5. Delete a contact
6. Reset(Delete) whole contacts
7. Exit
'''
 
 
 
def user_choice(): 
  '''user_choice function to prompt the user for the choice they would like to execute. if user enters some invalid entry, it prompts the user until a valid entry has been entered'''                                   
  
  print(colored(user_interface , 'green'))
  choice = input("\nChoose among 1/2/3/4/5/6 or 7 -->")
  
  while choice.isdigit() != True or int(choice) >= 8:            # if user enters other than a digit or when enters a integer greater than 7, it's a invalid entry
   
    print(colored("\nOops! Invalid entry. Please try again." , "white" , "on_red"))
    print(colored(user_interface , 'green'))
    choice = input('Please try again. Choose 1/2/3/4/5/6 or 7 -->')
  
  return choice
 
 
# all the below defined functions have no use if the file(dataframe) is empty so the empty condition is checked at the beginning which ensures that the file is not empty
 
def displayall():
  ''' function to display the dataframe'''
  
  if file.empty != True:                      
    display(file)  
      
    with open('/content/gdrive/MyDrive/Colab Notebooks/contactfile.pkl' , 'wb') as f:         # once the dataframe is displayed, it is then pickled for another use
      pickle5.dump(file, f)
     
  else:
    print(colored("\nNo any contacts in the dataframe. Please add a contact !" , "white" , "on_red"))
    
def add():
  '''function to add the new contacts'''
  
  global contact_name
  contact_name = input("\nEnter the name: ")
  name_valid_or_not = re.match(name_reg_ex, contact_name)         # check if the entered name matched with regex or not
  
  while name_valid_or_not == None:                                # if the condition is not matched, the user is prompted for a valid name till he enters a valid one
    
    print(colored("\nOops! That's not a valid name. Try again" , "white" , "on_red"))                                   # error message
    print(colored("\nUser should have first and last name (middle name optional) and have space in between" , "blue"))  # user_guidance
    contact_name = input("\nEnter name again: ")                  # prompting the user for the name again
    name_valid_or_not = re.match(name_reg_ex, contact_name)       # check the regex condition again
  
  global phone_number 
  phone_number = input("Enter the phone number: ")
  phone_valid_or_not = re.match(number_reg_ex, phone_number)
  
  while phone_valid_or_not == None:
    
    print(colored("\nOops! That's not a valid number. Try again" , "white" , "on_red"))
    print(colored("Phone number is of 10 digits" , "blue"))
    phone_number = input("\nEnter phone number again: ")
    phone_valid_or_not = re.match(number_reg_ex, phone_number)
   
  global email_address
  email_address = input("Enter email address: ") 
  email_valid_or_not = re.match(email_reg_ex, email_address )
  
  while email_valid_or_not == None:
    
    print(colored("\nOops! That's not a valid email. Try again", "white" , "on_red"))
    print(colored("Email format: something@domain_name.com" , "blue"))
    email_address = input("\nEnter email address again: ")
    email_valid_or_not = re.match(email_reg_ex, email_address)
  
def search():
  ''' function to search the contacts'''
  
  if file.empty != True:
    search = input('\nEnter name/phone number/email which you wish to view: ') 
    
    if search in file.values:                                         
      print(colored('\nContact found' , 'blue'))
      display(file.loc[file.isin([search]).any(axis=1)])               # it gets the index for rows by matching search term (could be name/phone/email) in all columns and at last display the rows
    else:
      print(colored('\nNo any records found !' , 'white' , 'on_red'))
  
  else:
    print(colored("\nNo any contacts in the dataframe. Please add a contact !" , "white" , "on_red"))
 
def update():
  '''function to update the contacts'''
  
  if file.empty != True:
    to_update = input('\nEnter the name/phone number/email of person whose details you wish to update: ')   # prompting user for the the details of the person whose contact they want to delete
  
    if to_update in file.values:
      print(colored('\nContact found.' , 'blue'))
      display(file.loc[file.isin([to_update]).any(axis=1)])                   # it gets the index for rows by matching update term in all columns and at last display the rows
      indexes = file.loc[file.isin([to_update]).any(axis=1)].index.tolist()   # to get list of the row index for the above condition
      
      confirm_index = input('Please type in the index you wish to update: ')  # prompting the user for the row-id
      
      # if user deosn't enter valid row-id, the user is prompted till they enter the valid row index
      
      while confirm_index not in str(indexes):                                     
        print(colored('\nYou have to enter the row index of the above dislayed dataframe to proceed the update choice.' , 'white' , 'on_red'))
        confirm_index = input('\nPlease type in the correct index: ')       
      
      # after a valid row-id is received  
      
      print(colored('''\nWhich entity do you want to change Name/Phone Number or Email?
                                          Enter: 1--> Update Name
                                                 2--> Update Phone number
                                                 3--> Update Email''' , 'green'))
      update_choice  = input("Enter 1/2 or 3: ")
      while update_choice.isdigit() != True or int(update_choice) >= 4:         # a repeated input is asked from user till he enters a valid update choice
        print(colored("\nOops! Invalid entry. Please try again." , "white" , "on_red"))
        update_choice = input('Please try again. Choose 1/2 or 3 -->')   
      
      # to update name
      if update_choice == '1':
        updated_name = input('\nEnter the new name: ')
        name_valid_or_not = re.match(name_reg_ex, updated_name)
        
        while name_valid_or_not == None:                            # to get valid name, we match it with regex
          print(colored("\nOops! That's not a valid name. Try again" , "white" , "on_red"))
          print(colored("\nUser should have first and last name (middle name optional) and have space in between" , "blue"))
          updated_name = input("\nEnter name again: ")
          name_valid_or_not = re.match(name_reg_ex, updated_name)
        
        file.at[int(confirm_index) ,['Name']] = updated_name 
        print(colored('\nContact updated succesfully ! ' , 'blue'))
        displayall()
      
      # to update phone number 
      elif update_choice == '2':
        updated_number = input('\nEnter the new number: ')
        number_valid_or_not = re.match(number_reg_ex, updated_number)
        
        while number_valid_or_not == None:
          print(colored("\nOops! That's not a valid number. Try again" , "white" , "on_red"))
          print(colored("Phone number is of 10 digits" , "blue"))
          updated_number = input("\nEnter phone number again: ")
          number_valid_or_not = re.match(number_reg_ex, updated_number)
        
        if updated_number not in file['Phone Number'].values:
          file.at[int(confirm_index) ,['Phone Number']] = updated_number 
          print(colored('\nContact updated succesfully ! ' , 'blue'))
          displayall()
        
        else:
          print(colored('\nThis contact present already. Please try again.' , 'white' , 'on_red'))
      
      # to update email address
      else:
        updated_email = input('\nEnter the new email: ')
        address_valid_or_not = re.match(email_reg_ex, updated_email)
        
        while address_valid_or_not == None:
          print(colored("\nOops! That's not a valid email. Try again", "white" , "on_red"))
          print(colored("Email format: something@domain_name.com" , "blue"))
          updated_email = input("\nEnter email address again: ")
          address_valid_or_not = re.match(email_reg_ex, updated_email)
        
        if updated_email not in file['Email'].values:
          file.at[int(confirm_index) ,['Email']] = updated_email 
          print(colored('\nContact updated succesfully ! ' , 'blue'))
          displayall()
        
        else:
          print(colored('\nThis contact present already. Please try again.' , 'white' , 'on_red'))
 
    else:
      print(colored('\nNo any records found !' , 'white' , 'on_red')) 
 
  else:
    print(colored("\nNo any contacts in the dataframe. Please add a contact !" , "white" , "on_red"))
 
 
def delete_contact():
  '''function to delete a contact'''
  
  global new_deleted_df
  global to_delete
  
  if file.empty != True:
    to_delete = input('\nEnter the name/email/phone number of person whose details you wish to delete: ')   # prompting user for the the details of the person whose contact they want to delete
    
    if to_delete in file.values:
      print(colored('\nContact found.', 'blue'))
      display(file.loc[file.isin([to_delete]).any(axis=1)])                                                 # it gets the index for rows by matching delete term (could be name/phone/email) in all columns and at last display the rows               
      indexes = file.loc[file.isin([to_delete]).any(axis=1)].index.tolist()                                 # to get list of the row index for the above condition
      
      confirm_index = input('\nPlease type in the index you wish to delete: ')                              
      while confirm_index not in str(indexes):
        print(colored('\nYou have to enter the row index of the above dislayed dataframe to proceed the delete choice.' , 'white' , 'on_red'))
        confirm_index = input('\nPlease type in the correct index: ')
      
      new_deleted_df = file.drop(labels = int(confirm_index) , axis=0).reset_index(drop=True)               # a new dataframe is returned by dropping the required row and is then stored in a variable called new_deleted_df
      
    else:
      print(colored("\nNo such contact found !" , "white" , "on_red"))
  
  else:
    print(colored("\nNo any contacts in the dataframe. Please add a contact !" , "white" , "on_red"))
    
 
 
def deleteall():
  ''' function to erase all contacts'''
  
  global file
  if file.empty != True:
    file = pd.DataFrame()                    # the dataframe is emptied             
    print(colored('The contacts have been erased !' , 'blue'))
    os.remove('/content/gdrive/MyDrive/Colab Notebooks/contactfile.pkl')
  
  else:
    print(colored("\nNo any contacts in the dataframe. Please add a contact !" , "white" , "on_red"))
  
 
choice= ''                                # initalizing the value of choice which stores input entered by the user
while choice != '7':
   
  choice = user_choice()
  if choice == '1': 
    displayall()
  
  elif choice == '2':
    add()
    if file.empty != True:
      if phone_number in file['Phone Number'].values or email_address in file['Email'].values:           # if the phone number or the email has been repeated, it is not accepted in the contact book
        print(colored('\nThis contact present already. Please try again.' , 'white' , 'on_red'))
        continue 
      else:
        pass
      
    else:
      pass 
               
 
    contact_dict = {'Name': [contact_name] ,                                    # a dictionary is created that stores details of person  
                    'Phone Number': [phone_number],
                    'Email': [email_address] }
    
    print(colored('\nContact added succesfully ! ' , 'blue'))
    
    
    df0 = pd.DataFrame(contact_dict)                                            # the dataframe from the contact_dict is created 
    file = pd.concat([file, df0] , ignore_index = True)                         # the dataframe is then appended to the previous dataframe and so on 
    displayall()
    
   
  elif choice == '3':
    search()
  
  elif choice == '4':
    update()
  
  elif choice == '5':
    delete_contact()
     
    if file.empty != True:
      if to_delete not in file.values:
        continue
      
      else:
        file = new_deleted_df
        print(colored('\nContact deleted succesfully ! ' , 'blue'))
        displayall()
    
    else:
      pass
    
  
  elif choice == '6':
    deleteall()
    
    
  
  else:
    print(colored("Exiting....Exited" , "magenta"))

1. Display your existing contacts
2. Create a new contact
3. View an entry
4. Update an entry
5. Delete a contact
6. Reset(Delete) whole contacts
7. Exit


Choose among 1/2/3/4/5/6 or 7 -->1

             Name Phone Number                     Email
0    ujjawal shah   9807824701  ujjawalshah360@gmail.com
1    milan thakur   9676767767        thakur56@milan.com
2      rupesh dai   9834513759          rupesh@yahoo.com
3  sujit adhikari   9877623564   sujitadhikari@gmail.com
4    ujjawal shah   9878267345            uzzu@gmail.com

1. Display your existing contacts
2. Create a new contact
3. View an entry
4. Update an entry
5. Delete a contact
6. Reset(Delete) whole contacts
7. Exit


Choose among 1/2/3/4/5/6 or 7 -->sxs

Oops! Invalid entry. Please try again.

1. Display your existing contacts
2. Create a new contact
3. View an entry
4. Update an entry
5. Delete a contact
6. Reset(Delete) whole contacts
7. Exit

Please try again. Choose 1/2/3/4/5/6 or 7 -->3

Enter name/phone number/email which you wish to view: ujjawalshah360@gmail.com

Contact found

           Name Phone Number                     Email
0  ujjawal shah   9807824701  ujjawalshah360@gmail.com

1. Display your existing contacts
2. Create a new contact
3. View an entry
4. Update an entry
5. Delete a contact
6. Reset(Delete) whole contacts
7. Exit


Choose among 1/2/3/4/5/6 or 7 -->5

Enter the name/email/phone number of person whose details you wish to delete: uhsu uxhsu

No such contact found !

1. Display your existing contacts
2. Create a new contact
3. View an entry
4. Update an entry
5. Delete a contact
6. Reset(Delete) whole contacts
7. Exit


Choose among 1/2/3/4/5/6 or 7 -->5

Enter the name/email/phone number of person whose details you wish to delete: ujjawal shah

Contact found.

           Name Phone Number                     Email
0  ujjawal shah   9807824701  ujjawalshah360@gmail.com
4  ujjawal shah   9878267345            uzzu@gmail.com

Please type in the index you wish to delete: 89

You have to enter the row index of the above dislayed dataframe to proceed the delete choice.

Please type in the correct index: 4

Contact deleted succesfully !

             Name Phone Number                     Email
0    ujjawal shah   9807824701  ujjawalshah360@gmail.com
1    milan thakur   9676767767        thakur56@milan.com
2      rupesh dai   9834513759          rupesh@yahoo.com
3  sujit adhikari   9877623564   sujitadhikari@gmail.com

1. Display your existing contacts
2. Create a new contact
3. View an entry
4. Update an entry
5. Delete a contact
6. Reset(Delete) whole contacts
7. Exit


Choose among 1/2/3/4/5/6 or 7 -->2

Enter the name: rohan basnet
Enter the phone number: 9807824701
Enter email address: rohan56@gmail.com

This contact present already. Please try again.

1. Display your existing contacts
2. Create a new contact
3. View an entry
4. Update an entry
5. Delete a contact
6. Reset(Delete) whole contacts
7. Exit


Choose among 1/2/3/4/5/6 or 7 -->2

Enter the name: rohan basnet
Enter the phone number: 9807825801
Enter email address: rohan56@gmail.com

Contact added succesfully !

             Name Phone Number                     Email
0    ujjawal shah   9807824701  ujjawalshah360@gmail.com
1    milan thakur   9676767767        thakur56@milan.com
2      rupesh dai   9834513759          rupesh@yahoo.com
3  sujit adhikari   9877623564   sujitadhikari@gmail.com
4    rohan basnet   9807825801         rohan56@gmail.com

1. Display your existing contacts
2. Create a new contact
3. View an entry
4. Update an entry
5. Delete a contact
6. Reset(Delete) whole contacts
7. Exit


Choose among 1/2/3/4/5/6 or 7 -->4

Enter the name/phone number/email of person whose details you wish to update: sujit adhikari

Contact found.

             Name Phone Number                    Email
3  sujit adhikari   9877623564  sujitadhikari@gmail.com

Please type in the index you wish to update: 3

Which entity do you want to change Name/Phone Number or Email?
                                          Enter: 1--> Update Name
                                                 2--> Update Phone number
                                                 3--> Update Email
Enter 1/2 or 3: 3

Enter the new email: sujitadhikari567@gmail.com

Contact updated succesfully !

             Name Phone Number                       Email
0    ujjawal shah   9807824701    ujjawalshah360@gmail.com
1    milan thakur   9676767767          thakur56@milan.com
2      rupesh dai   9834513759            rupesh@yahoo.com
3  sujit adhikari   9877623564  sujitadhikari567@gmail.com
4    rohan basnet   9807825801           rohan56@gmail.com

1. Display your existing contacts
2. Create a new contact
3. View an entry
4. Update an entry
5. Delete a contact
6. Reset(Delete) whole contacts
7. Exit


Choose among 1/2/3/4/5/6 or 7 -->2

Enter the name: shreya thapa
Enter the phone number: 788189891

Oops! That's not a valid number. Try again
Phone number is of 10 digits

Enter phone number again: 9856455678
Enter email address: shreyathapa

Oops! That's not a valid email. Try again
Email format: something@domain_name.com

Enter email address again: shreyathap34@gmail.com

Contact added succesfully !

             Name Phone Number                       Email
0    ujjawal shah   9807824701    ujjawalshah360@gmail.com
1    milan thakur   9676767767          thakur56@milan.com
2      rupesh dai   9834513759            rupesh@yahoo.com
3  sujit adhikari   9877623564  sujitadhikari567@gmail.com
4    rohan basnet   9807825801           rohan56@gmail.com
5    shreya thapa   9856455678      shreyathap34@gmail.com

1. Display your existing contacts
2. Create a new contact
3. View an entry
4. Update an entry
5. Delete a contact
6. Reset(Delete) whole contacts
7. Exit


Choose among 1/2/3/4/5/6 or 7 -->7
Exiting....Exited